<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <title>DPD Template</title>
    <link th:href="@{classpath:/static/styles.css}" rel="stylesheet" media="all" type="text/css"></link>
</head>

<body>
    <div class="info">
        <div class="img">
            <img th:src="@{classpath:/static/images/logo.png}"  class="img1"></img>
            <img th:src="@{${'classpath:/static/images/code/qrcode_' + awbId + '.png'}}" alt="QR Code" class="img2"></img>
        </div>
        <div class="content">
            <p>Fred L Scott <br></br> 20 Bridge St <br></br> Olney MK46 4AB <br></br> England</p>
            <img th:src="@{${'classpath:/static/images/code/vertical_barcode_' + awbId + '.png'}}" alt="Barcode" class="img-3"></img>
<!--            <p class="barcode-num">011011101110110101</p>-->
        </div>
        <div style="z-index: 1000; position: relative;">
        <hr style="border: none; margin: 20px; height: 3px; background-color: #787779;"></hr>
        </div>
            <div class="footer">
            <div class="para">
                <p class="bar1">00156796 41FFU 5121R</p>
                <p class="bar2">UK - 00156796</p>
                <p class="bar1">1564AUIV865-4613</p>
            </div>
<!--            <hr-->
<!--                    style="position: absolute; right: 29%; top: 35%;   border: none; height: 4px; background-color: #787779; width: 132px; -webkit-transform: rotate(90deg); transform: rotate(90deg);"></hr>-->
            <div class="code">
                <h1 class="heading">1/1</h1>
                <p>1.3 Kg</p>
            </div>
        </div>
        <div class="footer-img">
            <img th:src="@{${'classpath:/static/images/code/barcode_' + awbId + '.png'}}" alt="Barcode" class="img-4"></img>
        </div>
    </div>
</body>

</html>